<div class="wrapper wrapper-content animated fadeInRight" ng-controller="detailsController as dCtrl">

    <div class="row">
        <div class="col-md-12 col-lg-offset-2 col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-4"><h2>Herbar Sheet #{{sheet.number}}</h2></div>

                        <div class="col-md-offset-6  col-md-2">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm col-md-1" placeholder="Herbar Nr." ng-model="search.number">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary" tooltip-placement="top" tooltip="Search" ng-click="findByNr()">
                                            <i class="fa fa-search"/>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content" ng-show="sheet != null">
                        <div ui-view></div>
                    </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* Local style for demo purpose */

    /*.lightBoxGallery {*/
    /*text-align: center;*/
    /*}*/

    .lightBoxGallery img {
        margin: 5px;
    }

</style>