<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">Herbarium OAK</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a ui-sref="index.main" > Home </a>

                </li>

                <li ui-sref-active="active" ng-show="authenticated">
                    <a ui-sref="index.collection" > Collection </a>

                </li>

                <li ui-sref-active="active" ng-show="authenticated">
                    <a ui-sref="index.details" > Details </a>

                </li>

                <li ui-sref-active="active" ng-show="authenticated">
                    <a ui-sref="index.map" > Map </a>

                </li>

                <li >
                    <a  > Team </a>
                </li>
                <li >
                    <a > Contact </a>
                </li>

                <li >
                    <a > Projects </a>
                </li>


            </ul>
            <ul class="nav navbar-top-links navbar-right" ng-controller="loginCtrl">
                <li ng-show="authenticated">
                    <a ui-sref="index.main" ng-click="logout()">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
                <li ng-show="!authenticated">
                    <a ui-sref="index.login">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>